In [1]:
import snapshot
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\NahianSiddique\OneDrive - Blend 360\Documents\GitHub\Snapshot2.0\Epsilon test\selected_attributes.csv")

c:\Users\NahianSiddique\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (28,51,71,74,94,97,98,108,117,118,120,121,131,137,138,141,142,159,164,168,176,177,181,185,192,202,205,206,211,214,221,231,257,274,275,278,279,536,538,541,561,562,573,574,591,878,880,882,883,885,886,887,888,889,890,891,892,893,894,896,897,898,899,900,901,902,903,904,905,906,907,968,969,994,997,1001,1004,1005,1007) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
p = snapshot.Snapshot(
    profile_data=df,
    segment_var="Group",
    continuous_path="Data/Epsilon_attributes_binning_2.csv",
    nbins=5,
)

In [4]:
p.mapping_dict

{'Baseline': 'Baseline'}

In [5]:
p.run_profiler()

In [36]:
p.profile_extra

,Variable,Label,Definition,Category,Description,Count Baseline,Percent Baseline
0,Unnamed: 0,None,None,"(-0.001, 19699.0]",None,3971,0.200030
1,Unnamed: 0,None,None,"(19699.0, 39324.2]",None,3970,0.199980
2,Unnamed: 0,None,None,"(39324.2, 59296.8]",None,3970,0.199980
3,Unnamed: 0,None,None,"(59296.8, 79049.2]",None,3970,0.199980
4,Unnamed: 0,None,None,"(79049.2, 99255.0]",None,3971,0.200030
...,...,...,...,...,...,...,...
21,SS_NICHES_40,None,None,V,None,40,0.002015
22,SS_NICHES_40,None,None,W,None,23,0.001159
23,SS_NICHES_40,None,None,X,None,41,0.002065
24,SS_NICHES_40,None,None,Y,None,33,0.001662
25,SS_NICHES_40,None,None,Z,None,60,0.003022

In [37]:
mask = p.profile_extra['Description'].isin([None])
nor = p.profile_extra[~mask]

In [38]:
nor

Empty DataFrame
Columns: [Variable, Label, Definition, Category, Description, Count Baseline, Percent Baseline]
Index: []

In [5]:
p.create_profile(filename="epsilon_test_Profile.xlsx")

In [6]:
p.create_profile(filename="epsilon_test_Report.xlsx", split_category=True)

In [7]:
p.create_visual(filename="epsilon_test_Chart.xlsx", plot_index=False, show_na=True)