In [1]:
import snapshot
import pandas as pd

In [2]:
df = pd.read_csv(r"TESTFILE_EPSILON.csv")
df.head()

c:\Users\XPS\anaconda3\envs\Vyper\lib\site-packages\IPython\core\interactiveshell.py:3194: DtypeWarning: Columns (74,94,97,98,108,110,112,113,117,118,119,120,121,122,123,127,129,131,137,138,141,142,402,536,541,561,562,572,573,574,579,885,886,887,891,892,893,894,899,900,901,903,906,907,969,1007,1172,1174) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,FILE_CODE,RECORD_QUALITY_CODE,NUM_SOURC_VERIFY_HH,FIPS_STATE_CODE,ZIP,ZIP4,DELIVERY_POINT_CODE,CARRIER_ROUTE,CONTRACTED_ADDRESS,POST_OFFICE_NAME,...,PROSPECT_ID,PROSPECT_FLAG_P,PROSPECT_ID2,FIRSTNAME,LASTNAME,ADDRESSSTREET,ADDRESSSTREET2,ADDRESSSTATE,ADDRESSZIP,SEGMENT_O
0,P,1.0,19,34,8865,3344,487.0,C007,448 THOMAS ST,PHILLIPSBURG,...,59289,1,59289,Steven,Kolis,448 THOMAS ST,NaN,NJ,8865,Application Submitted
1,P,1.0,15,51,23704,6811,189.0,C013,1518 SUMMIT AVE,PORTSMOUTH,...,83756,1,83756,EARL,LINNEN,1518 SUMMIT AVE,NaN,VA,23704,Prospect
2,P,1.0,10,12,33612,6239,140.0,C005,2614 E 110TH AVE,TAMPA,...,147208,1,147208,Kevin,Hunter,2614 E 110TH AVE,NaN,FL,33612,Application Submitted
3,P,1.0,19,26,48216,1813,583.0,C032,1458 17TH ST,DETROIT,...,32553,1,32553,Mamie,Tuggle,1458 17th St,NaN,MI,48216,Application Submitted
4,P,1.0,19,51,23139,5031,157.0,R013,2715 PINERIDGE LN,POWHATAN,...,34447,1,34447,Dennis,Harden,2715 PINERIDGE LN,NaN,VA,23139,Prospect

In [11]:

p = snapshot.Snapshot(
    profile_data=df,
    segment_var="SEGMENT_O",
    baseline="Prospect",
    continuous_path="Data/Epsilon_attributes_binning_1.csv",
    nbins=5,
    na_drop_threshold=.95,
    epsilon=True
)

In [8]:
p.mapping_dict

{'Baseline': 'Prospect',
 'Segment_1': 'Application Submitted',
 'Segment_2': 'Application Completed',
 'Segment_3': 'Closed_Won'}

In [12]:
p.run_profiler()

d:\Github\Snapshot2.0\snapshot.py:181: RuntimeWarning: divide by zero encountered in log
  psi[row["Variable"]][row["Category"]][i + "_PSI"] = (row[uscol] - row[i]) * np.log(row[uscol] / row[i])

In [16]:
p.profile_extra

,Variable,Label,Definition,Category,Description,Count Prospect,Percent Prospect,Count Application Submitted,Percent Application Submitted,Count Application Completed,Percent Application Completed,Count Closed_Won,Percent Closed_Won,Application Submitted vs Prospect,Application Completed vs Prospect,Closed_Won vs Prospect
0,FILE_CODE,None,None,P,None,3257.0,0.885295,3750.0,0.907551,871.0,0.935553,1220.0,0.929878,102.513954,105.677007,105.035964
1,FILE_CODE,None,None,S,None,422.0,0.114705,382.0,0.092449,60.0,0.064447,92.0,0.070122,80.597280,56.184809,61.132384
2,NUM_SOURC_VERIFY_HH,None,None,"(0.999, 5.0]",None,854.0,0.232128,828.0,0.200387,178.0,0.191192,206.0,0.157012,86.326064,82.364912,67.640265
3,NUM_SOURC_VERIFY_HH,None,None,"(5.0, 10.0]",None,759.0,0.206306,935.0,0.226283,188.0,0.201933,273.0,0.208079,109.682997,97.880500,100.859503
4,NUM_SOURC_VERIFY_HH,None,None,"(10.0, 15.0]",None,771.0,0.209568,858.0,0.207648,195.0,0.209452,282.0,0.214939,99.083739,99.944832,102.562992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,VEHICLE_MILEAGE_CODE_2,None,None,V,None,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.000762,NaN,NaN,NaN
5364,ADDRESSSTATE,None,None,Or,None,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.000762,NaN,NaN,NaN
5365,ADDRESSSTATE,None,None,South Carolina,None,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.000762,NaN,NaN,NaN
5366,ADDRESSSTATE,None,None,Wa,None,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.000762,NaN,NaN,NaN
5367,ADDRESSSTATE,None,None,nj,None,0.0,0.000000,0.0,0.000000,0.0,0.000000,1.0,0.000762,NaN,NaN,NaN

In [17]:
p.create_profile(filename="test_profiles_Profile.xlsx")

In [19]:
p.create_profile(filename="test_profiles_Report.xlsx", split_category=True)

In [6]:
p.create_visual(filename="test_profiles_Chart.xlsx", plot_index=True, show_na=True,data_table = True)