In [1]:

from functools import reduce
import vyper
from openpyxl import load_workbook
from openpyxl.styles import Border, Side, PatternFill, Font, GradientFill, Alignment
from vyper.user import Model
from vyper.utils.tools import StatisticalTools as st
from vyper.user import Model
from vyper.user.explorer import DataProfiler
from vyper.utils.tools import StatisticalTools as st
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from pandas.api.types import is_string_dtype
from openpyxl import Workbook
import pandas as pd
import numpy as np
import re
import statsmodels.api as sm
import math
import warnings
import string

from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.chart import BarChart, Reference, LineChart
from openpyxl.drawing.text import CharacterProperties
from openpyxl.styles import PatternFill, Border, Side, Alignment, Font

In [54]:
## EDITS
def Snapshot_Profile(profile_data, segment_var, segments, segment_names, include, continuous_var_bounds,
                     variable_order, other_segment = False, file = 'Profile', exclude = '',
                     PPT = True, continuous = [], excludeother = False) -> pd.DataFrame:

    profile_data = pd.DataFrame(profile_data)
    if (segments is None):
        segments = pd.unique(profile_data[segment_var])
        other_segment = False
        segment_names = str(segments)
    if (not (isinstance(other_segment, bool))):
        raise ValueError('other must be True or False.')
    if (segment_names is None):
        segment_names = str(segments)
        if (other_segment):
            segment_names = [segment_names, 'other']
    if (len(segments)+other_segment!=len(segment_names)):
        if(len(segments)==len(segment_names)):
            segment_names = [segment_names, 'other']
        else:
            warnings.warn('Incorrect length of names, replacing by segments')
            segment_names = str(segments)
        if (other_segment):
            segment_names = [segment_names, 'other']
    ## output -> [1 2 0]

    varclass = pd.DataFrame()
    for col in profile_data.columns:
        varclass = pd.concat([varclass.reset_index(drop=True), pd.DataFrame([st.classify_variable(profile_data[col])], columns = [col])], axis=1)
#     STATE	ZIP4	ZIP	ID	FIRST_NAME	LAST_NAME	Right_ADDRESS	Right_ZIP	CITY	Right_STATE	...	orderspercustomer_new_2year	spendpercustomers_new_2year	spendperorder_new_1year	orderspercustomer_new_1year	spendpercustomers_new_1year	spendperorder_new_6month	orderspercustomer_new_6month	spendpercustomers_new_6month	y	seg
# 0	categorical	continuous	continuous	continuous	exclude	exclude	exclude  


    # Continuous Variables that were classified as categorical
    varclass[varclass.columns in continuous] = 'continuous'
    if (not (include is None)):
        exclude = varclass.columns[varclass.columns not in include]
    # Variables to exclude
    varclass[varclass.columns in exclude] = 'exclude'
    if (excludeother): 
        varclass[varclass.columns =='Categorical+other'] = 'exclude'
    continuous_var_cuts = dict()

    continuous_var_bounds = [{'MT_BUDGET_MEAL_PLANNERS': [0,50,60,70,75,80,85,90,95,100]}]    
    print(continuous_var_bounds)
    
    for variable in varclass.columns[varclass.iloc[0] == 'continuous']:
        if not continuous_var_bounds:
            continuous_var_bounds = dict()
        if variable in continuous_var_bounds:
            cut_bins = continuous_var_bounds[variable]
            continuous_var_cuts = pd.cut(profile_data[variable], bins=cut_bins)
            # continuous_var_cuts[variable] = continuous_var_bounds[variable]
        else:
            continuous_var_cuts[variable] = st.get_breaks(profile_data.loc[:, variable], nbins=10,
                        squash_extremes=False)
            
    print(continuous_var_cuts)

#     1        (302.4, 454.0]
# 14       (200.0, 250.0]
# 17       (200.0, 250.0]
# 18         (12.0, 50.0]
# 26        (79.0, 100.0]
#               ...      
# 99225     (79.0, 100.0]
# 99231    (100.0, 150.0]
# 99232      (12.0, 50.0]
# 99237      (12.0, 50.0]
# 99253     (0.999, 12.0]
# Name: HOME_EQUITY_LOAN_IN_K, Length: 17564, dtype: category
# Categories (10, interval[float64]): [(0.999, 12.0] < (12.0, 50.0] < (50.0, 79.0] < (79.0, 100.0] ... (200.0, 250.0] < (250.0, 302.4] < (302.4, 454.0] < (454.0, 7500.0]]



    col_order = []
    index_order = []
    ### nEEDS EDITS -> array([2, 0, 1]) Always encode 0 as US
## Change the US population as BASELINE
    for i in range(len(segments)):
        profile_1 = DataProfiler(profile_data[profile_data[segment_var] == segments[i]]).create_profile(number_of_bins = 10,
                                                                            cts_cuts = continuous_var_cuts)
        if (i == 0):
            profile = profile_1
            profile.columns = ["Variable", "Category",  "US_Count","US_Percent"]
            for cols in profile.columns:
                col_order.append(cols)


        else:
            profile_1.columns = ["Variable", "Category",  "Count_"+str(i), "Percent_"+str(i)]
            col_order.append("Count_"+str(i))
            col_order.append("Percent_"+str(i))
            profile = pd.merge(profile, profile_1, on = ['Variable', 'Category'], how = 'outer')
            profile['US Population vs ' + "Segment_" + str(i)] = (profile["US_Percent"]/profile["Percent_"+str(i)]) * 100
            index_order.append('US Population vs ' + "Segment_" + str(i))

    profile = profile[col_order+index_order]

    for i in profile.columns:

        if ('Count' in i):
            profile[i][profile[i].isna()] = 0
        if ('Percent' in i):
            profile[i][profile[i].isna()] = 0
            
            
    if file:
        import os
        # Make Profile ####
        filesave = file + '.xlsx'
        
        if os.path.exists(filesave):
            os.remove(filesave)
        CreateXLProfile_Snap(profile, savepath = filesave)
        
        if PPT:
            wb = Workbook()

            profile['Category'] = profile['Category'].astype(str)

            all_var_profiling_ws = wb.create_sheet(profile['Variable'].iloc[0], 0)
            # make new sheet the active sheet we are working on
            all_var_profiling_ws = wb.active

            # remove gridlines from the sheet
            all_var_profiling_ws.sheet_view.showGridLines = False

            # set border line thickness
            thick = Side(border_style="thick", color="000000")
            # medium = Side(border_style="medium", color="000000")
            thin = Side(border_style="thin", color="000000")

            # get max rows and cols of profiling df
            max_rows = profile.shape[0]
            max_cols = profile.shape[1]
            
            input_cols = list(string.ascii_uppercase)

            j = 4
            for z in range(0, len(profile)):
                if (z != 0):
                    if (profile['Variable'].iloc[z] != profile['Variable'].iloc[z - 1]):
                        # create sheet
                        all_var_profiling_ws = wb.create_sheet(profile['Variable'].iloc[z], 0)
                        # make new sheet the active sheet we are working on
                        all_var_profiling_ws = wb.active

                        for y in range(len(profile.columns)):
                            current_cell = all_var_profiling_ws.cell(row = 3, column = y + 2)
                            current_cell.font = Font(bold=True)
                            current_cell.alignment = Alignment(horizontal='center', vertical='center')
                            current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
                            current_cell.value = profile.columns[y]
                            if y == 0:
                                current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
                            elif y == max_cols - 1:
                                current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
                            else:
                                current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
                        j = 4
                    else:
                        incol = 2
                        for y in range(len(profile.columns)):
                            current_cell = all_var_profiling_ws.cell(row = 3, column = incol)
                            incol = incol + 1
                            current_cell.font = Font(bold=True)
                            current_cell.alignment = Alignment(horizontal='center', vertical='center')
                            current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
                            current_cell.value = profile.columns[y]
                            if y == 0:
                                current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
                            elif y == max_cols - 1:
                                current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
                            else:
                                current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
                            if (y % 2 == 1 and y > 2):
                                current_cell = all_var_profiling_ws.cell(row = 3, column = incol)
                                incol = incol + 1
                                current_cell.font = Font(bold=True)
                                current_cell.alignment = Alignment(horizontal='center', vertical='center')
                                current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
                                current_cell.value = 'Index'
                                if y == max_cols - 1:
                                    current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
                                else:
                                    current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
                                
                incol = 2
                for y in range(len(profile.columns)):
                    current_cell = all_var_profiling_ws.cell(row = j, column = incol)
                    incol = incol + 1
                    current_cell.value = profile.iloc[z, y]
                    if y == 0:
                        current_cell.border = Border(top=thin, left=thick, right=thin, bottom=thin)
                    else:
                        current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)
                    if (y % 2 == 1 and y > 2):
                        current_cell = all_var_profiling_ws.cell(row = j, column = incol)
                        incol = incol + 1
                        current_cell.value = '=' + input_cols[incol - 3] + str(j) + '/E' + str(j)
                        if y == max_cols - 1:
                            current_cell.border = Border(top=thin, left=thin, right=thick, bottom=thin)
                        else:
                            current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)

                j = j + 1
            
            filesave = file + 'PPT.xlsx'
        
            if os.path.exists(filesave):
                os.remove(filesave)
            
            wb.save(filesave)
            
    return profile

def CreateXLProfile_Snap(profile, savepath):
    wb = Workbook()

    profile['Category'] = profile['Category'].astype(str)

    # create sheet
    all_var_profiling_ws = wb.create_sheet('profile', 0)

    # make new sheet the active sheet we are working on
    all_var_profiling_ws = wb.active

    # remove gridlines from the sheet
    all_var_profiling_ws.sheet_view.showGridLines = False

    # set border line thickness
    thick = Side(border_style="thick", color="000000")
    # medium = Side(border_style="medium", color="000000")
    thin = Side(border_style="thin", color="000000")

    # get max rows and cols of profiling df
    max_rows = profile.shape[0]
    max_cols = profile.shape[1]

    input_rows = range(4, max_rows + 4)
    input_cols = list(string.ascii_uppercase)[1:max_cols + 1]

    y = 0
    for i in input_cols:
        x = "3"
        x = i + x

        all_var_profiling_ws[x].font = Font(bold=True)
        current_cell = all_var_profiling_ws[x]
        current_cell.alignment = Alignment(horizontal='center', vertical='center')
        current_cell.fill = PatternFill("solid", fgColor="A9C4FE")

        if y == 0:
            current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
        elif y == max_cols - 1:
            current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
        else:
            current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)

        all_var_profiling_ws[x] = profile.columns[y]
        y = y + 1
    
    print("Worked till here")
    counter = []
    counter_val = 1
    for index,i in enumerate(input_cols[2::]):
        x = "2"
        x = i + x
        if index%2==1:
            all_var_profiling_ws.merge_cells(f"{counter[-1]}:{x}")
            all_var_profiling_ws[counter[-1]].font = Font(bold=True)
            current_cell = all_var_profiling_ws[counter[-1]]
            current_cell.alignment = Alignment(horizontal='center', vertical='center')
            current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
            continue


        if i==input_cols[-1]:
            break
        if i=='D':
            all_var_profiling_ws[x] = "US POPULATION"
            all_var_profiling_ws.merge_cells(start_row=2, start_column=4, end_row=2, end_column=5)
            counter.append(x)
            continue
        all_var_profiling_ws[x] = 'Segment ' + str(counter_val)
        counter_val+=1
        counter.append(x)
        # all_var_profiling_ws.merge_cells(start_row=2, start_column=5, end_row=2, end_column=5)
        # all_var_profiling_ws.merge_cells(f'{x}:D2')

    
    def style_range(ws, cell_range, border=Border(), fill=None, font=None,alignment=None):
        
        """
        Apply styles to a range of cells as if they were a single cell.

        :param ws:  Excel worksheet instance
        :param range: An excel range to style (e.g. A1:F20)
        :param border: An openpyxl Border
        :param fill: An openpyxl PatternFill or GradientFill
        :param font: An openpyxl Font object
        """

        top = Border(top=border.top)
        left = Border(left=border.left)
        right = Border(right=border.right)
        bottom = Border(bottom=border.bottom)

        first_cell = ws[cell_range.split(":")[0]]
        if alignment:
            ws.merge_cells(cell_range)
            first_cell.alignment = alignment

        rows = ws[cell_range]
        if font:
            first_cell.font = font

        for cell in rows[0]:
            cell.border = cell.border + top
        for cell in rows[-1]:
            cell.border = cell.border + bottom

        for row in rows:
            l = row[0]
            r = row[-1]
            l.border = l.border + left
            r.border = r.border + right
            if fill:
                for c in row:
                    c.fill = fill


    border = Border(top=thick, left=thick, right=thick, bottom=thick)

    for range1 in all_var_profiling_ws.merged_cells.ranges:
        style_range(all_var_profiling_ws, str(range1), border=border)

    

    y = 0
    for i in input_cols:
        z = 0
        for j in input_rows:
            all_var_profiling_ws.row_dimensions[j].height = 25
            x = str(j)
            x = i + x
            # print(x)
            current_cell = all_var_profiling_ws[x]
            current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)

            if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
                current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)

            all_var_profiling_ws[x] = profile.iloc[z, y]

            if y == 0:
                current_cell.border = Border(top=thin, left=thick, right=thin, bottom=thin)
                if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
                    current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
            elif y == max_cols - 1:
                current_cell.border = Border(top=thin, left=thin, right=thick, bottom=thin)
                if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
                    current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)


            z = z + 1
        y = y + 1
    

    
    if (savepath != ''):
        wb.save(savepath)

In [18]:
eps_data = pd.read_csv(r"Data/EpsilonResponseModelData_InternalAppend.csv")

In [19]:
eps_data['seg'] = np.random.randint(0, 4, eps_data.shape[0])

In [47]:
continuous_var_data = pd.read_csv('Data/continuous_dictionary.csv')
continuous_var_data

,Variable,Cuts
0,MT_BUDGET_MEAL_PLANNERS,"0,50,60,70,75,80,85,90,95,100"
1,MT_DEBIT_CARD_USER,"0,20,30,40,50,60,70,80,90,100"
2,MT_MEDICAID_POTENTIAL_QUALIFIED_HOUSEHOLD,"0,20,30,40,50,60,70,80,90,100"
3,MT_EVERYDAY_LOW_PRICE_SHOPPERS,"0,50,60,70,80,85,90,92,96,98,100"
4,MT_AMAZON_PRIME_CUSTOMERS,"0,3,5,10,15,20,25,30,40,50,100"
5,MT_ONLINE_SAVINGS_USER,"0,3,6,10,15,20,30,35,45,60,100"
6,MT_WELLNESS_HOUSEHOLDS_HEALTH,"0,4,7,10,15,20,25,30,40,55,100"
7,MT_MEDICARE_ADVANTAGE_PLAN_PURCHASERS,"0,75,100"
8,MT_MAGAZINE_READERS,"0,5,10,15,20,30,40,50,60,75,100"
9,MT_NATIONAL_HEALTHCARE_SUPPORTERS,"0,5,10,15,20,25,30,35,45,55,70,100"

In [48]:
continuous_var_bounds = dict(zip(continuous_var_data.Variable, continuous_var_data.Cuts))
continuous_var_bounds

{'MT_BUDGET_MEAL_PLANNERS': '0,50,60,70,75,80,85,90,95,100',
 'MT_DEBIT_CARD_USER': '0,20,30,40,50,60,70,80,90,100',
 'MT_MEDICAID_POTENTIAL_QUALIFIED_HOUSEHOLD': '0,20,30,40,50,60,70,80,90,100',
 'MT_EVERYDAY_LOW_PRICE_SHOPPERS': '0,50,60,70,80,85,90,92,96,98,100',
 'MT_AMAZON_PRIME_CUSTOMERS': '0,3,5,10,15,20,25,30,40,50,100',
 'MT_ONLINE_SAVINGS_USER': '0,3,6,10,15,20,30,35,45,60,100',
 'MT_WELLNESS_HOUSEHOLDS_HEALTH': '0,4,7,10,15,20,25,30,40,55,100',
 'MT_MEDICARE_ADVANTAGE_PLAN_PURCHASERS': '0,75,100',
 'MT_MAGAZINE_READERS': '0,5,10,15,20,30,40,50,60,75,100',
 'MT_NATIONAL_HEALTHCARE_SUPPORTERS': '0,5,10,15,20,25,30,35,45,55,70,100'}

In [ ]:
continuous_var_bounds = {'MT_BUDGET_MEAL_PLANNERS': [0,50,60,70,75,80,85,90,95,100],
                         'MT_DEBIT_CARD_USER': [0,20,30,40,50,60,70,80,90,100],
                         'MT_MEDICAID_POTENTIAL_QUALIFIED_HOUSEHOLD': [0,20,30,40,50,60,70,80,90,100],
                         'MT_EVERYDAY_LOW_PRICE_SHOPPERS': [0,50,60,70,80,85,90,92,96,98,100],
                         'MT_AMAZON_PRIME_CUSTOMERS': [0,3,5,10,15,20,25,30,40,50,100],
                         'MT_ONLINE_SAVINGS_USER': [0,3,6,10,15,20,30,35,45,60,100],
                         'MT_WELLNESS_HOUSEHOLDS_HEALTH': [0,4,7,10,15,20,25,30,40,55,100],
                         'MT_MEDICARE_ADVANTAGE_PLAN_PURCHASERS': [0,75,100],
                         'MT_MAGAZINE_READERS': [0,5,10,15,20,30,40,50,60,75,100],
                         'MT_NATIONAL_HEALTHCARE_SUPPORTERS': [0,5,10,15,20,25,30,35,45,55,70,100]}

In [55]:
profile = Snapshot_Profile(profile_data = eps_data, segment_var='seg', segments = None, segment_names = None, include = None,
                 continuous_var_bounds = None, variable_order = None, other_segment = False,
                 file = '3-21-test', exclude = [], PPT = True, continuous = [], excludeother = False)

[{'MT_BUDGET_MEAL_PLANNERS': [0, 50, 60, 70, 75, 80, 85, 90, 95, 100]}]
{'ZIP4': 0        (1253.0, 1616.0]
1        (1616.0, 2006.0]
2        (4114.0, 5018.0]
3        (6256.0, 9992.0]
4        (1616.0, 2006.0]
               ...
99255    (1253.0, 1616.0]
99256    (2401.0, 2836.0]
99257    (5018.0, 6256.0]
99258    (1253.0, 1616.0]
99259    (2006.0, 2401.0]
Name: ZIP4, Length: 99260, dtype: category
Categories (10, interval[float64]): [(0.999, 1253.0] < (1253.0, 1616.0] < (1616.0, 2006.0] < (2006.0, 2401.0] ... (3406.0, 4114.0] < (4114.0, 5018.0] < (5018.0, 6256.0] < (6256.0, 9992.0]], 'ZIP': 0        (11249.0, 11570.0]
1        (11570.0, 19085.0]
2        (6819.999, 7040.0]
3        (10033.0, 10520.0]
4          (7417.0, 7735.0]
                ...
99255    (11570.0, 19085.0]
99256     (7735.0, 10011.0]
99257    (10520.0, 11102.0]
99258      (7417.0, 7735.0]
99259      (7040.0, 7417.0]
Name: ZIP, Length: 99260, dtype: category
Categories (10, interval[float64]): [(6819.999, 7040.0] < (7040.0, 7417.0] < (7417.0, 7735.0] < (7735.0, 10011.0] ... (10520.0, 11102.0] < (11102.0, 11249.0] < (11249.0, 11570.0] < (11570.0, 19085.0]], 'ID': 0        (224892.3, 249999.0]
1        (224892.3, 249999.0]
2            (2.999, 22355.4]
3        (224892.3, 249999.0]
4          (22355.4, 47819.4]
                 ...
99255      (73060.1, 98520.2]
99256      (22355.4, 47819.4]
99257    (199655.2, 224892.3]
99258    (123610.0, 148788.8]
99259    (148788.8, 174179.3]
Name: ID, Length: 99260, dtype: category
Categories (10, interval[float64]): [(2.999, 22355.4] < (22355.4, 47819.4] < (47819.4, 73060.1] < (73060.1, 98520.2] ... (148788.8, 174179.3] < (174179.3, 199655.2] < (199655.2, 224892.3] < (224892.3, 249999.0]], 'Right_ZIP': 0        (11249.0, 11570.0]
1        (11570.0, 19085.0]
2        (6819.999, 7040.0]
3        (10033.0, 10520.0]
4          (7417.0, 7735.0]
                ...
99255    (11570.0, 19085.0]
99256     (7735.0, 10011.0]
99257    (10520.0, 11102.0]
99258      (7417.0, 7735.0]
99259      (7040.0, 7417.0]
Name: Right_ZIP, Length: 99260, dtype: category
Categories (10, interval[float64]): [(6819.999, 7040.0] < (7040.0, 7417.0] < (7417.0, 7735.0] < (7735.0, 10011.0] ... (10520.0, 11102.0] < (11102.0, 11249.0] < (11249.0, 11570.0] < (11570.0, 19085.0]], 'NUM_SOURC_VERIFY_HH': 0          (6.0, 9.0]
1        (16.0, 18.0]
2         (9.0, 11.0]
3         (9.0, 11.0]
4        (22.0, 30.0]
             ...
99255    (0.999, 5.0]
99256    (16.0, 18.0]
99257    (16.0, 18.0]
99258    (22.0, 30.0]
99259      (6.0, 9.0]
Name: NUM_SOURC_VERIFY_HH, Length: 99260, dtype: category
Categories (10, interval[float64]): [(0.999, 5.0] < (5.0, 6.0] < (6.0, 9.0] < (9.0, 11.0] ... (16.0, 18.0] < (18.0, 20.0] < (20.0, 22.0] < (22.0, 30.0]], 'DELIVERY_POINT_CODE': 0        (113.0, 174.0]
1        (418.0, 524.0]
2        (524.0, 644.0]
3        (799.0, 999.0]
4        (524.0, 644.0]
              ...
99255     (54.0, 113.0]
99256     (54.0, 113.0]
99257    (799.0, 999.0]
99258    (799.0, 999.0]
99259    (799.0, 999.0]
Name: DELIVERY_POINT_CODE, Length: 99260, dtype: category
Categories (10, interval[float64]): [(-0.001, 54.0] < (54.0, 113.0] < (113.0, 174.0] < (174.0, 244.0] ... (418.0, 524.0] < (524.0, 644.0] < (644.0, 799.0] < (799.0, 999.0]], 'COUNTY_CODE': 0         (47.0, 59.0]
1         (47.0, 59.0]
2         (0.999, 3.0]
3         (59.0, 61.0]
4         (0.999, 3.0]
             ...
99255     (61.0, 81.0]
99256     (27.0, 39.0]
99257    (91.0, 119.0]
99258     (0.999, 3.0]
99259     (27.0, 39.0]
Name: COUNTY_CODE, Length: 99260, dtype: category
Categories (10, interval[float64]): [(0.999, 3.0] < (3.0, 13.0] < (13.0, 27.0] < (27.0, 39.0] ... (59.0, 61.0] < (61.0, 81.0] < (81.0, 91.0] < (91.0, 119.0]], 'VERIFICATION_DATE_HH': 0          (202102.0, 202104.0]
1          (202011.0, 202102.0]
2          (202104.0, 202105.0]
3          (202102.0, 202104.0]
4          (202105.0, 202106.0]
                  ...
99255    (201907.999, 202011.0]
99256      (202105.0, 202106.0]
99257      (202011.0, 202102.0]
99258      (202105.0, 202106.0]
99259    (201907.999, 202011.0]
Name: VERIFICATION_DATE_HH, Length: 99260, dtype: category
Categories (6, interval[float64]): [(201907.999, 202011.0] < (202011.0, 202102.0] < (202102.0, 202104.0] < (202104.0, 202105.0] < (202105.0, 202106.0] < (202106.0, 202107.0]], 'AGILITY_ADDR_KEY': 0          (4.967729427652097e+31, 5.971808016858284e+31]
1          (7.969276145582708e+31, 8.997630938780913e+31]
2        (2.9321677904345966e+31, 3.9675133103448863e+31]
3          (8.997630938780913e+31, 9.999897654769117e+31]
4         (3.9675133103448863e+31, 4.967729427652097e+31]
                               ...
99255     (3.9675133103448863e+31, 4.967729427652097e+31]
99256      (8.997630938780913e+31, 9.999897654769117e+31]
99257      (8.083112010024001e+26, 9.806225856370081e+30]
99258      (4.967729427652097e+31, 5.971808016858284e+31]
99259      (6.985902513475073e+31, 7.969276145582708e+31]
Name: AGILITY_ADDR_KEY, Length: 99260, dtype: category
Categories (10, interval[float64]): [(8.083112010024001e+26, 9.806225856370081e+30] < (9.806225856370081e+30, 1.954576944625499e+31] < (1.954576944625499e+31, 2.9321677904345966e+31] < (2.9321677904345966e+31, 3.9675133103448863e+31] ... (5.971808016858284e+31, 6.985902513475073e+31] < (6.985902513475073e+31, 7.969276145582708e+31] < (7.969276145582708e+31, 8.997630938780913e+31] < (8.997630938780913e+31, 9.999897654769117e+31]], 'AGILITY_HH_KEY': 0          (5400335030486.0, 5400783694981.1]
1          (2220691706246.3, 2220696459622.0]
2          (5400937044608.4, 5401071096739.3]
3          (5400937044608.4, 5401071096739.3]
4        (2220671539220.999, 2220675979085.9]
                         ...
99255      (5400783694981.1, 5400937044608.4]
99256      (2220696459622.0, 5000412017446.5]
99257      (2220685970904.4, 2220691706246.3]
99258    (2220671539220.999, 2220675979085.9]
99259    (2220671539220.999, 2220675979085.9]
Name: AGILITY_HH_KEY, Length: 99260, dtype: category
Categories (10, interval[float64]): [(2220671539220.999, 2220675979085.9] < (2220675979085.9, 2220685970904.4] < (2220685970904.4, 2220691706246.3] < (2220691706246.3, 2220696459622.0] ... (5400335030486.0, 5400783694981.1] < (5400783694981.1, 5400937044608.4] < (5400937044608.4, 5401071096739.3] < (5401071096739.3, 5401140436235.0]], 'VERIFICATION_DATE_PERSON1': 0          (202012.0, 202103.0]
1          (202012.0, 202103.0]
2          (202104.0, 202105.0]
3        (201707.999, 202009.0]
4          (202105.0, 202106.0]
                  ...
99255      (202009.0, 202012.0]
99256      (202105.0, 202106.0]
99257      (202009.0, 202012.0]
99258      (202105.0, 202106.0]
99259    (201707.999, 202009.0]
Name: VERIFICATION_DATE_PERSON1, Length: 99260, dtype: category
Categories (7, interval[float64]): [(201707.999, 202009.0] < (202009.0, 202012.0] < (202012.0, 202103.0] < (202103.0, 202104.0] < (202104.0, 202105.0] < (202105.0, 202106.0] < (202106.0, 202107.0]], 'BANKCARD_ISSUE_DATE1': 3          (201902.0, 202007.0]
25         (202102.0, 202104.0]
33         (202007.0, 202012.0]
39         (201902.0, 202007.0]
52         (201111.0, 201306.0]
                  ...
99181      (201111.0, 201306.0]
99188    (201107.999, 201109.0]
99241      (202102.0, 202104.0]
99249      (201109.0, 201111.0]
99258      (202102.0, 202104.0]
Name: BANKCARD_ISSUE_DATE1, Length: 7127, dtype: category
Categories (10, interval[float64]): [(201107.999, 201109.0] < (201109.0, 201111.0] < (201111.0, 201306.0] < (201306.0, 201603.0] ... (202007.0, 202012.0] < (202012.0, 202102.0] < (202102.0, 202104.0] < (202104.0, 202105.0]], 'BTHDAY_PERSON_W_DAY_ENH1': 0        (19690706.0, 19730716.0]
1        (19490301.0, 19560401.0]
3        (19771017.0, 19811104.0]
4        (19650605.0, 19690706.0]
5        (19771017.0, 19811104.0]
                   ...
99251    (19811104.0, 19860427.0]
99253    (19560401.0, 19601216.0]
99256    (19601216.0, 19650605.0]
99257    (19730716.0, 19771017.0]
99258    (19560401.0, 19601216.0]
Name: BTHDAY_PERSON_W_DAY_ENH1, Length: 86145, dtype: category
Categories (10, interval[float64]): [(19251118.999, 19490301.0] < (19490301.0, 19560401.0] < (19560401.0, 19601216.0] < (19601216.0, 19650605.0] ... (19730716.0, 19771017.0] < (19771017.0, 19811104.0] < (19811104.0, 19860427.0] < (19860427.0, 20021124.0]], 'INDIVIDUAL_EXACT_AGE1': 0        (48.0, 52.0]
1        (65.0, 72.0]
3        (39.0, 43.0]
4        (52.0, 56.0]
5        (39.0, 43.0]
             ...
99251    (35.0, 39.0]
99253    (60.0, 65.0]
99256    (52.0, 56.0]
99257    (43.0, 48.0]
99258    (60.0, 65.0]
Name: INDIVIDUAL_EXACT_AGE1, Length: 86145, dtype: category
Categories (10, interval[float64]): [(17.999, 35.0] < (35.0, 39.0] < (39.0, 43.0] < (43.0, 48.0] ... (56.0, 60.0] < (60.0, 65.0] < (65.0, 72.0] < (72.0, 95.0]], 'AGILITY_INDIVIDUAL_KEY1': 0        (1111690845805.0, 1111699164527.4]
1        (1111690845805.0, 1111699164527.4]
2        (1111699164527.4, 1114213110028.1]
3        (1111671712686.9, 1111682112411.8]
4        (1111644347617.7, 1111653199582.2]
                        ...
99255    (1111699164527.4, 1114213110028.1]
99256    (1111653199582.2, 1111671712686.9]
99257    (1111671712686.9, 1111682112411.8]
99258    (1111644347617.7, 1111653199582.2]
99259    (1111644347617.7, 1111653199582.2]
Name: AGILITY_INDIVIDUAL_KEY1, Length: 99260, dtype: category
Categories (10, interval[float64]): [(1111593092093.999, 1111644347617.7] < (1111644347617.7, 1111653199582.2] < (1111653199582.2, 1111671712686.9] < (1111671712686.9, 1111682112411.8] ... (1111699164527.4, 1114213110028.1] < (1114213110028.1, 5100021707911.8] < (5100021707911.8, 5300867485033.1] < (5300867485033.1, 5301570446599.0]], 'VERIFICATION_DATE_PERSON2': 1        (202101.0, 202104.0]
3        (202101.0, 202104.0]
4        (202105.0, 202106.0]
5        (202105.0, 202106.0]
6        (202010.0, 202101.0]
                 ...
99253    (202105.0, 202106.0]
99254    (202105.0, 202106.0]
99256    (202104.0, 202105.0]
99257    (202010.0, 202101.0]
99258    (202105.0, 202106.0]
Name: VERIFICATION_DATE_PERSON2, Length: 53613, dtype: category
Categories (7, interval[float64]): [(201707.999, 202006.0] < (202006.0, 202010.0] < (202010.0, 202101.0] < (202101.0, 202104.0] < (202104.0, 202105.0] < (202105.0, 202106.0] < (202106.0, 202107.0]], 'BTHDAY_PERSON_W_DAY_ENH2': 1          (19480504.3, 19550908.0]
3          (19770502.0, 19820126.0]
4          (19641017.0, 19681101.0]
5          (19770502.0, 19820126.0]
7        (19251107.999, 19480504.3]
                    ...
99253      (19550908.0, 19600716.9]
99254      (19721106.0, 19770502.0]
99256      (19600716.9, 19641017.0]
99257      (19721106.0, 19770502.0]
99258      (19681101.0, 19721106.0]
Name: BTHDAY_PERSON_W_DAY_ENH2, Length: 45164, dtype: category
Categories (10, interval[float64]): [(19251107.999, 19480504.3] < (19480504.3, 19550908.0] < (19550908.0, 19600716.9] < (19600716.9, 19641017.0] ... (19721106.0, 19770502.0] < (19770502.0, 19820126.0] < (19820126.0, 19870810.4] < (19870810.4, 20030116.0]], 'INDIVIDUAL_EXACT_AGE2': 1        (65.0, 73.0]
3        (39.0, 44.0]
4        (52.0, 56.0]
5        (39.0, 44.0]
7        (73.0, 95.0]
             ...
99253    (61.0, 65.0]
99254    (44.0, 48.0]
99256    (56.0, 61.0]
99257    (44.0, 48.0]
99258    (48.0, 52.0]
Name: INDIVIDUAL_EXACT_AGE2, Length: 45164, dtype: category
Categories (10, interval[float64]): [(17.999, 34.0] < (34.0, 39.0] < (39.0, 44.0] < (44.0, 48.0] ... (56.0, 61.0] < (61.0, 65.0] < (65.0, 73.0] < (73.0, 95.0]], 'AGILITY_INDIVIDUAL_KEY2': 1        (1111692924800.0, 1111698505770.2]
3        (5300747879895.2, 5301570445231.0]
4        (1111644195963.6, 1111650735421.0]
5        (1111671617538.4, 1111682222706.2]
6        (1111671617538.4, 1111682222706.2]
                        ...
99253    (1111698505770.2, 1114274568777.2]
99254    (5001122806772.4, 5300747879895.2]
99256    (1111650735421.0, 1111671617538.4]
99257    (1111671617538.4, 1111682222706.2]
99258    (1111644195963.6, 1111650735421.0]
Name: AGILITY_INDIVIDUAL_KEY2, Length: 53613, dtype: category
Categories (10, interval[float64]): [(1111597310816.999, 1111644195963.6] < (1111644195963.6, 1111650735421.0] < (1111650735421.0, 1111671617538.4] < (1111671617538.4, 1111682222706.2] ... (1111698505770.2, 1114274568777.2] < (1114274568777.2, 5001122806772.4] < (5001122806772.4, 5300747879895.2] < (5300747879895.2, 5301570445231.0]], 'VERIFICATION_DATE_PERSON3': 7        (201810.0, 201907.0]
14       (202105.0, 202106.0]
23       (202011.0, 202012.0]
25       (202008.0, 202011.0]
28       (202103.0, 202105.0]
                 ...
99232    (202008.0, 202011.0]
99244    (202011.0, 202012.0]
99245    (201907.0, 202005.0]
99249    (202103.0, 202105.0]
99253    (202008.0, 202011.0]
Name: VERIFICATION_DATE_PERSON3, Length: 19321, dtype: category
Categories (9, interval[float64]): [(201707.999, 201810.0] < (201810.0, 201907.0] < (201907.0, 202005.0] < (202005.0, 202008.0] ... (202011.0, 202012.0] < (202012.0, 202103.0] < (202103.0, 202105.0] < (202105.0, 202106.0]], 'BTHDAY_PERSON_W_DAY_ENH3': 7        (19251101.999, 19520701.0]
23         (19800301.6, 19850801.0]
25         (19981115.0, 20030217.0]
28         (19881116.0, 19910410.6]
31         (19680318.2, 19800301.6]
                    ...
99231      (19800301.6, 19850801.0]
99232      (19800301.6, 19850801.0]
99244      (19520701.0, 19680318.2]
99245      (19881116.0, 19910410.6]
99253      (19800301.6, 19850801.0]
Name: BTHDAY_PERSON_W_DAY_ENH3, Length: 14872, dtype: category
Categories (10, interval[float64]): [(19251101.999, 19520701.0] < (19520701.0, 19680318.2] < (19680318.2, 19800301.6] < (19800301.6, 19850801.0] ... (19910410.6, 19930807.0] < (19930807.0, 19960225.0] < (19960225.0, 19981115.0] < (19981115.0, 20030217.0]], 'INDIVIDUAL_EXACT_AGE3': 7          (69.0, 95.0]
23         (36.0, 41.0]
25       (17.999, 22.0]
28         (30.0, 32.0]
31         (36.0, 41.0]
              ...
99231      (36.0, 41.0]
99232      (32.0, 36.0]
99244      (53.0, 69.0]
99245      (30.0, 32.0]
99253      (32.0, 36.0]
Name: INDIVIDUAL_EXACT_AGE3, Length: 14872, dtype: category
Categories (10, interval[float64]): [(17.999, 22.0] < (22.0, 25.0] < (25.0, 28.0] < (28.0, 30.0] ... (36.0, 41.0] < (41.0, 53.0] < (53.0, 69.0] < (69.0, 95.0]], 'AGILITY_INDIVIDUAL_KEY3': 7          (1111648233982.0, 1111671587876.0]
14         (1111648233982.0, 1111671587876.0]
23         (1111671587876.0, 1111683405365.0]
25         (5300366043520.0, 5300961129196.0]
28         (1113555608893.0, 5000454221064.0]
                         ...
99232      (1113555608893.0, 5000454221064.0]
99244      (1111648233982.0, 1111671587876.0]
99245      (1111695594477.0, 1113555608893.0]
99249      (5300366043520.0, 5300961129196.0]
99253    (1111594680731.999, 1111648233982.0]
Name: AGILITY_INDIVIDUAL_KEY3, Length: 19321, dtype: category
Categories (10, interval[float64]): [(1111594680731.999, 1111648233982.0] < (1111648233982.0, 1111671587876.0] < (1111671587876.0, 1111683405365.0] < (1111683405365.0, 1111695594477.0] ... (5000454221064.0, 5000877142660.0] < (5000877142660.0, 5300366043520.0] < (5300366043520.0, 5300961129196.0] < (5300961129196.0, 5301570444226.0]], 'VERIFICATION_DATE_PERSON4': 25       (201707.999, 201808.0]
28         (201808.0, 201905.4]
35         (202104.0, 202105.0]
36         (202006.0, 202010.0]
48         (202105.0, 202106.0]
                  ...
99199      (202012.0, 202101.0]
99201      (202010.0, 202012.0]
99203      (201808.0, 201905.4]
99245      (201808.0, 201905.4]
99253      (202006.0, 202010.0]
Name: VERIFICATION_DATE_PERSON4, Length: 7483, dtype: category
Categories (10, interval[float64]): [(201707.999, 201808.0] < (201808.0, 201905.4] < (201905.4, 202002.0] < (202002.0, 202006.0] ... (202012.0, 202101.0] < (202101.0, 202104.0] < (202104.0, 202105.0] < (202105.0, 202106.0]], 'BTHDAY_PERSON_W_DAY_ENH4': 28         (19910426.0, 19930318.0]
35         (19961120.0, 19981215.0]
36         (19930318.0, 19941214.0]
49         (19981215.0, 20021227.0]
53         (19910426.0, 19930318.0]
                    ...
99162    (19251122.999, 19620101.0]
99199      (19961120.0, 19981215.0]
99203      (19910426.0, 19930318.0]
99245      (19981215.0, 20021227.0]
99253      (19620101.0, 19801231.0]
Name: BTHDAY_PERSON_W_DAY_ENH4, Length: 5866, dtype: category
Categories (10, interval[float64]): [(19251122.999, 19620101.0] < (19620101.0, 19801231.0] < (19801231.0, 19860525.5] < (19860525.5, 19890605.0] ... (19930318.0, 19941214.0] < (19941214.0, 19961120.0] < (19961120.0, 19981215.0] < (19981215.0, 20021227.0]], 'INDIVIDUAL_EXACT_AGE4': 28         (28.0, 30.0]
35         (22.0, 24.0]
36         (26.0, 28.0]
49       (17.999, 22.0]
53         (26.0, 28.0]
              ...
99162      (59.0, 95.0]
99199      (22.0, 24.0]
99203      (26.0, 28.0]
99245    (17.999, 22.0]
99253      (40.0, 59.0]
Name: INDIVIDUAL_EXACT_AGE4, Length: 5866, dtype: category
Categories (10, interval[float64]): [(17.999, 22.0] < (22.0, 24.0] < (24.0, 26.0] < (26.0, 28.0] ... (32.0, 35.0] < (35.0, 40.0] < (40.0, 59.0] < (59.0, 95.0]], 'AGILITY_INDIVIDUAL_KEY4': 25       (1111597962799.999, 1111650505913.6]
28         (1111695367520.2, 1114008845947.2]
35         (5300721911195.4, 5301008470695.0]
36         (5300002059212.6, 5300721911195.4]
48         (5000437355427.0, 5000788626354.6]
                         ...
99199      (5300002059212.6, 5300721911195.4]
99201    (1111597962799.999, 1111650505913.6]
99203      (1111650505913.6, 1111681750669.8]
99245      (5301008470695.0, 5301570444248.0]
99253      (5300721911195.4, 5301008470695.0]
Name: AGILITY_INDIVIDUAL_KEY4, Length: 7483, dtype: category
Categories (10, interval[float64]): [(1111597962799.999, 1111650505913.6] < (1111650505913.6, 1111681750669.8] < (1111681750669.8, 1111695367520.2] < (1111695367520.2, 1114008845947.2] ... (5000788626354.6, 5300002059212.6] < (5300002059212.6, 5300721911195.4] < (5300721911195.4, 5301008470695.0] < (5301008470695.0, 5301570444248.0]], 'OCCUPATION': 0        (-0.001, 5.0]
1        (-0.001, 5.0]
2        (-0.001, 5.0]
3        (-0.001, 5.0]
4          (5.0, 14.0]
             ...
99255    (-0.001, 5.0]
99256     (14.0, 20.0]
99257    (-0.001, 5.0]
99258    (-0.001, 5.0]
99259    (-0.001, 5.0]
Name: OCCUPATION, Length: 99260, dtype: category
Categories (3, interval[float64]): [(-0.001, 5.0] < (5.0, 14.0] < (14.0, 20.0]], 'INVESTMENT_RESOURCES': 0        (11.0, 12.0]
1        (11.0, 12.0]
2        (0.999, 8.0]
3        (11.0, 12.0]
4         (9.0, 11.0]
             ...
99255     (9.0, 11.0]
99256    (11.0, 12.0]
99257     (9.0, 11.0]
99258    (11.0, 12.0]
99259    (11.0, 12.0]
Name: INVESTMENT_RESOURCES, Length: 99260, dtype: category
Categories (4, interval[float64]): [(0.999, 8.0] < (8.0, 9.0] < (9.0, 11.0] < (11.0, 12.0]], 'LIQUID_RESOURCES': 0        (0.999, 8.0]
1        (13.0, 14.0]
2         (8.0, 11.0]
3        (13.0, 14.0]
4        (11.0, 12.0]
             ...
99255    (11.0, 12.0]
99256    (13.0, 14.0]
99257    (12.0, 13.0]
99258    (13.0, 14.0]
99259    (13.0, 14.0]
Name: LIQUID_RESOURCES, Length: 99260, dtype: category
Categories (5, interval[float64]): [(0.999, 8.0] < (8.0, 11.0] < (11.0, 12.0] < (12.0, 13.0] < (13.0, 14.0]], 'MORTG_LIABILITY': 1         (431.0, 523.0]
4         (431.0, 523.0]
5          (74.0, 140.0]
6          (0.999, 33.0]
7         (140.0, 238.0]
              ...
99248    (692.0, 9000.0]
99253    (692.0, 9000.0]
99254      (74.0, 140.0]
99256     (310.0, 372.0]
99258     (431.0, 523.0]
Name: MORTG_LIABILITY, Length: 55929, dtype: category
Categories (10, interval[float64]): [(0.999, 33.0] < (33.0, 74.0] < (74.0, 140.0] < (140.0, 238.0] ... (372.0, 431.0] < (431.0, 523.0] < (523.0, 692.0] < (692.0, 9000.0]], 'NUM_LIFESTYLES_ALL': 0         (23.0, 35.0]
1         (16.0, 23.0]
2           (4.0, 6.0]
3           (2.0, 4.0]
4         (23.0, 35.0]
             ...
99253     (12.0, 16.0]
99256    (35.0, 119.0]

Worked till here

In [56]:
CreateXLProfile_Snap(profile, '3-21-test.xlsx')

Worked till here

In [ ]:
# def Snapshot_Profile(profile_data, segment_var, segments, segment_names, include, continuous_var_bounds,
#                      variable_order, other_segment = False, file = 'Profile', exclude = '',
#                      PPT = True, continuous = [], excludeother = False) -> pd.DataFrame:
#     profile_data = pd.DataFrame(profile_data)
#     if (segments is None):
#         segments = pd.unique(profile_data[segment_var])
#         other_segment = False
#         segment_names = str(segments)
#     if (not (isinstance(other_segment, bool))):
#         raise ValueError('other must be True or False.')
#     if (segment_names is None):
#         segment_names = str(segments)
#         if (other_segment):
#             segment_names = [segment_names, 'other']
#     if (len(segments)+other_segment!=len(segment_names)):
#         if(len(segments)==len(segment_names)):
#             segment_names = [segment_names, 'other']
#         else:
#             warnings.warn('Incorrect length of names, replacing by segments')
#             segment_names = str(segments)
#         if (other_segment):
#             segment_names = [segment_names, 'other']

#     varclass = pd.DataFrame()
#     for col in profile_data.columns:
#         varclass = pd.concat([varclass.reset_index(drop=True), pd.DataFrame([st.classify_variable(profile_data[col])], columns = [col])], axis=1)

#     # Continuous Variables that were classified as categorical
#     varclass[varclass.columns in continuous] = 'continuous'
#     if (not (include is None)):
#         exclude = varclass.columns[varclass.columns not in include]
#     # Variables to exclude
#     varclass[varclass.columns in exclude] = 'exclude'
#     if (excludeother): varclass[varclass.columns =='Categorical+other'] = 'exclude'


#     continuous_var_cuts = dict()
#     for variable in varclass.columns[varclass.iloc[0] == 'continuous']:
#         if not continuous_var_bounds:
#             continuous_var_bounds = dict()
#         if variable in continuous_var_bounds:
#             continuous_var_cuts[variable] = continuous_var_bounds[variable]
#         else:
#             continuous_var_cuts[variable] = st.get_breaks(profile_data.loc[:, variable], nbins=10,
#                      squash_extremes=False)

#     for i in range(len(segments)):
#         profile_1 = DataProfiler(profile_data[profile_data[segment_var] == segments[i]]).create_profile(number_of_bins = 10,
#                                                                           cts_cuts = continuous_var_cuts)
#         if (i == 0):
#             profile = profile_1
#         else:
#             profile = pd.merge(profile, profile_1, on = ['Variable', 'Category'], how = 'outer')

#     for i in profile.columns:
#         print(i)
#         print(profile[i])
#         if ('Count' in i):
#             profile[i][profile[i].isna()] = 0
#         if ('Percent' in i):
#             profile[i][profile[i].isna()] = 0
            
            
#     if file:
#         import os
#         # Make Profile ####
#         filesave = file + '.xlsx'
        
#         if os.path.exists(filesave):
#             os.remove(filesave)
#         CreateXLProfile_Snap(profile, savepath = filesave)
        
#         if PPT:
#             wb = Workbook()

#             profile['Category'] = profile['Category'].astype(str)

#             all_var_profiling_ws = wb.create_sheet(profile['Variable'].iloc[0], 0)
#             # make new sheet the active sheet we are working on
#             all_var_profiling_ws = wb.active

#             # remove gridlines from the sheet
#             all_var_profiling_ws.sheet_view.showGridLines = False

#             # set border line thickness
#             thick = Side(border_style="thick", color="000000")
#             # medium = Side(border_style="medium", color="000000")
#             thin = Side(border_style="thin", color="000000")

#             # get max rows and cols of profiling df
#             max_rows = profile.shape[0]
#             max_cols = profile.shape[1]
            
#             input_cols = list(string.ascii_uppercase)

#             j = 4
#             for z in range(0, len(profile)):
#                 if (z != 0):
#                     if (profile['Variable'].iloc[z] != profile['Variable'].iloc[z - 1]):
#                         # create sheet
#                         all_var_profiling_ws = wb.create_sheet(profile['Variable'].iloc[z], 0)
#                         # make new sheet the active sheet we are working on
#                         all_var_profiling_ws = wb.active

#                         for y in range(len(profile.columns)):
#                             current_cell = all_var_profiling_ws.cell(row = 3, column = y + 2)
#                             current_cell.font = Font(bold=True)
#                             current_cell.alignment = Alignment(horizontal='center', vertical='center')
#                             current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
#                             current_cell.value = profile.columns[y]
#                             if y == 0:
#                                 current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
#                             elif y == max_cols - 1:
#                                 current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
#                             else:
#                                 current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
#                         j = 4
#                     else:
#                         incol = 2
#                         for y in range(len(profile.columns)):
#                             current_cell = all_var_profiling_ws.cell(row = 3, column = incol)
#                             incol = incol + 1
#                             current_cell.font = Font(bold=True)
#                             current_cell.alignment = Alignment(horizontal='center', vertical='center')
#                             current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
#                             current_cell.value = profile.columns[y]
#                             if y == 0:
#                                 current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
#                             elif y == max_cols - 1:
#                                 current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
#                             else:
#                                 current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
#                             if (y % 2 == 1 and y > 2):
#                                 current_cell = all_var_profiling_ws.cell(row = 3, column = incol)
#                                 incol = incol + 1
#                                 current_cell.font = Font(bold=True)
#                                 current_cell.alignment = Alignment(horizontal='center', vertical='center')
#                                 current_cell.fill = PatternFill("solid", fgColor="A9C4FE")
#                                 current_cell.value = 'Index'
#                                 if y == max_cols - 1:
#                                     current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
#                                 else:
#                                     current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)
                                
#                 incol = 2
#                 for y in range(len(profile.columns)):
#                     current_cell = all_var_profiling_ws.cell(row = j, column = incol)
#                     incol = incol + 1
#                     current_cell.value = profile.iloc[z, y]
#                     if y == 0:
#                         current_cell.border = Border(top=thin, left=thick, right=thin, bottom=thin)
#                     else:
#                         current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)
#                     if (y % 2 == 1 and y > 2):
#                         current_cell = all_var_profiling_ws.cell(row = j, column = incol)
#                         incol = incol + 1
#                         current_cell.value = '=' + input_cols[incol - 3] + str(j) + '/E' + str(j)
#                         if y == max_cols - 1:
#                             current_cell.border = Border(top=thin, left=thin, right=thick, bottom=thin)
#                         else:
#                             current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)

#                 j = j + 1
            
#             filesave = file + 'PPT.xlsx'
        
#             if os.path.exists(filesave):
#                 os.remove(filesave)
            
#             wb.save(filesave)
            
#     return profile

In [ ]:
# def CreateXLProfile_Snap(profile, savepath):
#     wb = Workbook()

#     profile['Category'] = profile['Category'].astype(str)

#     # create sheet
#     all_var_profiling_ws = wb.create_sheet('profile', 0)

#     # make new sheet the active sheet we are working on
#     all_var_profiling_ws = wb.active

#     # remove gridlines from the sheet
#     all_var_profiling_ws.sheet_view.showGridLines = False

#     # set border line thickness
#     thick = Side(border_style="thick", color="000000")
#     # medium = Side(border_style="medium", color="000000")
#     thin = Side(border_style="thin", color="000000")

#     # get max rows and cols of profiling df
#     max_rows = profile.shape[0]
#     max_cols = profile.shape[1]

#     input_rows = range(4, max_rows + 4)
#     input_cols = list(string.ascii_uppercase)[1:max_cols + 1]

#     y = 0
#     for i in input_cols:
#         x = "3"
#         x = i + x

#         all_var_profiling_ws[x].font = Font(bold=True)
#         current_cell = all_var_profiling_ws[x]
#         current_cell.alignment = Alignment(horizontal='center', vertical='center')
#         current_cell.fill = PatternFill("solid", fgColor="A9C4FE")

#         if y == 0:
#             current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
#         elif y == max_cols - 1:
#             current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)
#         else:
#             current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)

#         all_var_profiling_ws[x] = profile.columns[y]
#         y = y + 1

#     y = 0
#     for i in input_cols:
#         z = 0
#         for j in input_rows:
#             all_var_profiling_ws.row_dimensions[j].height = 25
#             x = str(j)
#             x = i + x
#             # print(x)
#             current_cell = all_var_profiling_ws[x]
#             current_cell.border = Border(top=thin, left=thin, right=thin, bottom=thin)

#             if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
#                 current_cell.border = Border(top=thick, left=thin, right=thin, bottom=thin)

#             all_var_profiling_ws[x] = profile.iloc[z, y]

#             if y == 0:
#                 current_cell.border = Border(top=thin, left=thick, right=thin, bottom=thin)
#                 if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
#                     current_cell.border = Border(top=thick, left=thick, right=thin, bottom=thin)
#             elif y == max_cols - 1:
#                 current_cell.border = Border(top=thin, left=thin, right=thick, bottom=thin)
#                 if profile['Variable'].iloc[z] != profile['Variable'].iloc[z-1]:
#                     current_cell.border = Border(top=thick, left=thin, right=thick, bottom=thin)


#             z = z + 1
#         y = y + 1
    

    
#     if (savepath != ''):
#         wb.save(savepath)