In [1]:
import snapshot
import pandas as pd

In [2]:
def transform(df):
    df["hs_max_party_size"] = df["hs_max_party_size"].apply(lambda x: str(int(x)) if x < 5 else "5+" if x >= 5 else x)

    df["household_size"] = df["household_size"].apply(lambda x: str(int(x)) if x < 5 else "5+" if x >= 5 else x)
    df["internet_media_channel_usage"] = df["internet_media_channel_usage"].apply(lambda x: "1-3" if x < 4 else "4-6" if x < 7 else "7-10")
    df["cruise_vacations_propensity"] = df["cruise_vacations_propensity"].apply(lambda x: "1-3" if x < 4 else "4-6" if x < 7 else "7-10")
    df["internet_purchases_propensity_score"] = df["internet_purchases_propensity_score"].apply(lambda x: "1-3" if x < 4 else "4-6" if x < 7 else "7-10")
    df["NUMBER_OF_ADULTS_7628"] = df["NUMBER_OF_ADULTS_7628"].apply(lambda x: str(int(x)) if x < 5 else "5+" if x >= 5 else x)
    df["NUMBER_OF_CHILDREN_7602"] = df["NUMBER_OF_CHILDREN_7602"].apply(lambda x: str(int(x)) if x < 4 else "4+" if x >= 4 else x)
    df["phone_purchases_propensity_score"] = df["phone_purchases_propensity_score"].apply(lambda x: "1-3" if x < 4 else "4-6" if x < 7 else "7-10")

    df["dream_Africa_ME"] = df["dream_Africa_ME"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Asia"] = df["dream_Asia"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Caribbean"] = df["dream_Caribbean"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Europe"] = df["dream_Europe"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_HI"] = df["dream_HI"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Mexico"] = df["dream_Mexico"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_South_America"] = df["dream_South_America"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_USA"] = df["dream_USA"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Italy"] = df["dream_Italy"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_FR"] = df["dream_FR"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_South_Africa"] = df["dream_South_Africa"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_Dubai"] = df["dream_Dubai"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)
    df["dream_island"] = df["dream_island"].apply(lambda x: 1 if x > 0 else 0 if x == 0 else x)

    df["env_pref_seasons_selected"] = df["env_pref_spring"] + df["env_pref_summer"] + df["env_pref_fall"] + df["env_pref_winter"]

    return df

In [3]:
df = pd.read_excel(r"C:\Users\NahianSiddique\OneDrive - Blend 360\Hilton\Analytical Projects\HGV 2022 VIP Analysis\Data\Model Sample\appended_data_4_group_20221228.xlsx")
# df = pd.read_excel(r"C:\Users\NahianSiddique\OneDrive - Blend 360\Hilton\Analytical Projects\HGV 2022 VIP Analysis\Data\Model Sample\appended_data_vip_contracts_20221222.xlsx")

df = df.drop(
    columns=[
        "lead_id",
        "t0_baseline_date",
        "full_tour_id",
    ]
)

df = transform(df)

In [4]:
df

,daydiff_since_first_pkg,daydiff_since_last_pkg,prior_all_pkgs,prior_3y_pkgs,prior_1y_pkgs,sum_all_pkg_price,sum_3y_pkg_price,sum_1y_pkg_price,daydiff_since_first_tour,daydiff_since_last_tour,...,vids_ELARA_duration,link_HGV_club_duration,link_any_duration,slide_HCC_duration,slide_unknown_duration,slide_resort_photo_collection_duration,slide_any_duration,source,source_name,env_pref_seasons_selected
0,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1,DMC TS buyer,NaN
1,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1,DMC TS buyer,3.0
2,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1,DMC TS buyer,2.0
3,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,dataset_1,DMC TS buyer,NaN
4,2758.0,1833.0,2,0,0,644.34,NaN,NaN,2269.0,1625.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_1,DMC TS buyer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97218,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,dataset_4,VIP TS buyer,NaN
97219,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,dataset_4,VIP TS buyer,3.0
97220,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_4,VIP TS buyer,3.0
97221,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_4,VIP TS buyer,NaN
97222,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dataset_4,VIP TS buyer,2.0

In [5]:
segments = ["DMC TS buyer", "Tour-no-buy no-VIP", "VIP Contract buyer", "VIP TS buyer"]

# mapping_dict = {
#     "Baseline": "VIP Contract buyer 18-19",
#     "Segment_1": "VIP Contract buyer 21-22",
# }

# Set up variables for snapshot
file_name = "profiles_4_group"
seg_var = "source_name"
bin_vars_path = "Data/HGV_VIP_attributes_binning.csv"

p = snapshot.Snapshot(
    profile_data=df,
    segment_var=seg_var,
    segments=segments,
    continuous_path=bin_vars_path,
    nbins=5,
    filename=file_name,
    na_drop_threshold=.65,
)

In [6]:
p.mapping_dict

{'Baseline': 'DMC TS buyer',
 'Segment_1': 'Tour-no-buy no-VIP',
 'Segment_2': 'VIP Contract buyer',
 'Segment_3': 'VIP TS buyer'}

In [7]:
p.run_profiler()

c:\Users\NahianSiddique\OneDrive - Blend 360\Documents\GitHub\Snapshot2.0\snapshot.py:172: RuntimeWarning: divide by zero encountered in log
  psi[row["Variable"]][row["Category"]][i + "_PSI"] = (row[uscol] - row[i]) * np.log(row[uscol] / row[i])

In [8]:
p.create_visual(plot_index=False, chart_style=2, show_axes=False)

<Worksheet "net_response_rental"> removed
<Worksheet "net_response_own"> removed
<Worksheet "sum_negative_rental"> removed
<Worksheet "sum_negative_own"> removed
<Worksheet "sum_positive_rental"> removed
<Worksheet "sum_positive_own"> removed
<Worksheet "rental_owship_n_Reservation_Has"> removed
<Worksheet "rental_owship_n_No_Guarantees"> removed
<Worksheet "rental_owship_n_More_of_the_Sam"> removed
<Worksheet "rental_owship_n_Limited_Space"> removed
<Worksheet "rental_owship_n_Inflationary_Co"> removed
<Worksheet "rental_owship_n_Inconsistent_Qu"> removed
<Worksheet "rental_owship_n_Fluctuating_Cos"> removed
<Worksheet "rental_owship_n_Expensive_to_Se"> removed
<Worksheet "own_owship_n_Security"> removed
<Worksheet "own_owship_n_Real_Estate_Taxes"> removed
<Worksheet "own_owship_n_Ongoing_Maintenanc"> removed
<Worksheet "own_owship_n_Management_Hassles"> removed
<Worksheet "own_owship_n_Limited_Actual_Use"> removed
<Worksheet "own_owship_n_Large_Capital_Expe"> removed
<Worksheet "own_owship_n_Insurance"> removed
<Worksheet "own_owship_n_Commitment_to_loca"> removed
<Worksheet "own_owship_p_Sell"> removed
<Worksheet "own_owship_p_DeededRealEstate"> removed
<Worksheet "own_owship_p_ExperiencePrideOfO"> removed
<Worksheet "own_owship_p_Rent"> removed
<Worksheet "own_owship_p_UseWhenIWant"> removed
<Worksheet "rental_owship_p_ExperienceDiffS"> removed
<Worksheet "rental_owship_p_StayDiffLengths"> removed
<Worksheet "own_owship_p_LetFriendsAndFamil"> removed
<Worksheet "rental_owship_p_PayAsIGo"> removed
<Worksheet "rental_owship_p_UseWhereIWant"> removed
<Worksheet "rental_owship_p_LoyaltyPoints"> removed
<Worksheet "rental_owship_p_TakeAdvantageof"> removed
<Worksheet "rental_owship_p_EnjoyDiffAccomm"> removed
<Worksheet "own_owship_p_Asset"> removed
<Worksheet "own_owship_p_legacy"> removed
<Worksheet "rental_owship_p_UseWhenIWantRen"> removed
<Worksheet "env_adult_count"> removed
<Worksheet "vacation_on_cruise"> removed
<Worksheet "vacation_in_united_states"> removed
<Worksheet "vacation_at_casino"> removed
<Worksheet "hs_total_ota_stay_1yr"> removed
<Worksheet "hs_sum_nights_4_1yr"> removed
<Worksheet "hs_total_foreign_stay_3yr"> removed
<Worksheet "hs_total_ota_stay_3yr"> removed
<Worksheet "hs_total_reward_stay_3yr"> removed
<Worksheet "hs_sum_nights_5plus_3yr"> removed
<Worksheet "hs_sum_nights_4plus_3yr"> removed
<Worksheet "hs_total_foreign_stay"> removed
<Worksheet "hs_total_reward_stay"> removed
<Worksheet "hs_sum_nights_5plus"> removed
<Worksheet "daydiff_since_last_tour"> removed
<Worksheet "daydiff_since_first_tour"> removed
<Worksheet "sum_3y_pkg_price"> removed
<Worksheet "sum_all_pkg_price"> removed
<Worksheet "daydiff_since_last_pkg"> removed
<Worksheet "daydiff_since_first_pkg"> removed